body {
	background-color: #FF5733;
}
.jumbotron {
	text-align: center;
	background-color: #C70039;
	color:#DAF7A6;
	border-radius: 50px;
    border-bottom: 10px solid #900C3F;
    
}

#fontChange {
    font-family: 'Lobster', cursive
}

.btn{
    display: flex;
    justify-content: center;
    margin-left: 480px;
    background-color:#900C3F;
    color:whitesmoke;
}
.past {
	background-color: #d3d3d3;
	color: white;
}


.hour {
	color: #C70039;
	justify-content: center;
	align-content: center;
    padding: 8px 14px;
    background-color: #DAF7A6;
    border-radius: 5px;
    font-size: medium;
}

.time {
    font-size: 14px;
    font-weight: 600;
    padding-top: 12px;
}

.present {
	background-color: #ff6961;
	color: white;
}

.future {
	background-color: #77dd77;
	color: white;
}

.clear-container {
	margin-left: 200px;
	margin-bottom: 50px;
}
